:root{
    font-family: Poppins;
    font-weight:none;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}


body{
    width:1440px;
    padding:0;
    margin:0;
    background-color: #cdcdcd;
}

/*Actual container stylings*/

/*Picture and Profile*/

.picture-bio{
    display: flex;
    height: 300.1px;
    width: 1321.79px;
    margin-top: 63px;
    margin: 59px;
    margin-right: 59px;
    margin-bottom: 47.9px;
}

/*Profile picture*/

.profile-picture{
    height: 300.1px;
    width: 300.1px;
    object-fit: contain;
    border-radius: 29.04px;
    margin-right: 27px;
}

/*Profile bio*/

header{
    width: 994.69px;
    background-color: #fff;
    border-radius: 29.04px;
    padding-top: 59px;
    padding-bottom:59px;
    padding-right: 69px;
    padding-left: 69px;
}

h1{
    font-size: 36px;
    font-weight: bold;
}

p{
    color: #5C5C5C;
    font-size: 22px;
    font-weight: normal;
}
/*End of Profile stylings*/
/*End of picture and profile*/

/*Base box styling*/

section{
    background-color: #fff;
    border-radius: 29.04px;
}

/*End of base box stylings*/

/*Poficiency and skill section*/

.proficiency-skills{
    object-fit: contain;
    display: flex;
    height: 429px;
    margin-bottom: 48.2px;
}

/*proficiency section*/

.proficiency{
    width: 563.9px;
    margin-left:63px;
    margin-right:48.1px;
    padding-top: 41px;
    padding-bottom: 41px;
    padding-right: 28px;
}

.proficiency h2{
    margin: 0;
    font-size:33.8px;
    padding-left: 28px;
}

/*Table styling*/

table{
    table-layout: fixed;
    height: 245.69px;
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 25px;
}

thead tbody tfoot{
    table-layout: fixed;
    display:grid;
    height: 245.69px;
    width:509px;
    padding:0;
    margin:0;
}

/*Table content styling*/

.proficiency th{
    column-width: 500px;
    font-size: 18px;
}

.proficiency td{
    margin-bottom: 23.4px;
}

.skill{
    font-size: 20px;
    font-weight: bold;
    width:40px;
}

.skill-html{
    font-weight: bold;
}

/*Progress bars*/

.javascript-stat{
    position:relative;
    background-color:#fff;
}

.javascript-stat:after {
    content:'\A';
    position:absolute;
    background: #4A8B70;
    border-radius: 7.26px;
    top:0; bottom:0;
    left:0; 
    /*Set percentage known*/
    width:100%;
}

.react-stat{
    position:relative;
    background-color:#fff;
}

.react-stat:after {
    content:'\A';
    position:absolute;
    background:#4A8B70;
    border-radius: 7.26px;
    top:0; bottom:0;
    left:0; 
    /*Set percentage known*/
    width:70%;
}

.node-stat{
    position:relative;
    background-color:#fff;
}

.node-stat:after {
    content:'\A';
    position:absolute;
    background: #4A8B70;
    border-radius: 7.26px;
    top:0; bottom:0;
    left:0; 
    /*Set percentage known*/
    width:30%;
}

.html-stat{
    position:relative;
    background-color:#fff;
}

.html-stat:after {
    content:'\A';
    position:absolute;
    background: #4A8B70;
    border-radius: 7.26px;
    top:0; bottom:0;
    left:0; 
    /*Set percentage known*/
    width:55%;
}

/*End of proficiency section*/

/*Skills box styling*/

.skills{
    height: 429px;
    width: 706px;
    margin-right: 59px;
}

.skills h2{
    margin-left:28px;
    margin-top: 28px;
    font-size: 33.88px;
}

.skills-container{
    margin-top:39px;
    margin-bottom: 31.47px;
    margin-left: 28px;
    margin-right: 5.19px;
    height: 279.53px;
    width: 672.81px;
}

.skills-container container{
    display: inline-flex;
   /* background-color: #4a8b7013; */
    background-color: #ECF4F1;
    font-size: 24.2px;
    border-radius: 96.81px;
    padding-top: 9.68px;
    padding-bottom: 9.68px;
    padding-left: 24.2px;
    padding-right: 24.2px;
    margin-right: 19px;
    margin-bottom: 19px;
}

/*End of skills box syling*/

/*End of proficiency and skill*/

/*Project box styling*/

.projects{
    width: 1318.08px;
    margin-left: 63px;
    margin-right: 58.92px;
    margin-bottom: 48px;
    padding-top: 35px;
    padding-bottom: 43px;
}

.projects h2{
    text-align: center;
    font-size: 33.88px;
    font-weight:bold;
    margin-bottom: 35px;
    padding: 5.2px;
}

.projects-container{
    height: 581px;
    width: 1251px;
    padding-left: 33.54px;
    padding-right: 33.54px;
}

.projects container{
    background-color: #E7F0EC;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 29.04px;
    height: inherit;
    width: 280px;
    margin-left: 39px;
}

.projects .recent-project{
    margin-left: 0;
    background-color: #4A8B70;

}

/*Styling inside the various containers*/

container{
    display:flex;
    flex-wrap: wrap;
    /*To remove base margins for wrap*/
    align-content:flex-start;
}

.recent-project .year-heart{
    height: 36px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom:24px;
    padding-right: 19.87px;
}

.year-project svg{
    height: 26.62px;
    width: 22.71px;
    object-fit: cover;
}

.projects h3{
    font-size: 24.2px;
    margin-left: 19px;
    margin-bottom: 24px;
}

.recent-project h3, .recent-project p{
        color: #FFFFFF;
}

.recent-project .brief, .recent-project .technologies, .responsibilities{
    margin-left: 19px;
    margin-right: 18.98px;
    margin-bottom: 24px;
    font-size: 19.36px;
}

.recent-project .responsibilities{
    margin-bottom: 43px;
}

.year-heart{
    height: 36px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom:16px;
    padding-right: 15.38px;
}

.brief, .technologies, .responsibilities{
    margin-left: 19px;
    margin-right: 18.98px;
    margin-bottom: 16px;
    font-size: 19.36px;
}

.responsibilities{
    margin-bottom: 21px;
}

.project h3, .project p{
        color: #000000;
}
/*End of project box styling*/


/*Education and tools section*/

.education-tools{
    display: flex;
    height: 847.06px;
    margin-bottom: 47.95px; 
}

/*Education box stying*/

.education{
    width: 994.69px;
    margin-left: 63px;
    margin-right: 21.31px;
}

/*End of education box styling*/

/*Tools box styling*/

.tools{
    height: 847.06px;
    width: 300.1px;
    margin-right: 60.9px;
    margin-bottom: 47.95px; 
}

/*End of tools box styling*/
/*End of education and tools styling*/

/*Experience box styling*/

.experience{
    height: 640px;
    width: 1316px;
    margin-left: 63px;
    margin-right: 61px;
    margin-bottom: 48.15px;
}
/*End of experience box styling*/

/*Footer styling*/

footer{
    background-color: orangered;
    height: 158px;
    width: 1322px;
    border-radius: 29.04px;
    margin-left: 59px;
    margin-right: 59px;
    margin-bottom: 40.85px;
}