:root{
    font-family: Poppins;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
    font-weight: none;
}


body{
    padding:0;
    margin:0;
    background-color: #cdcdcd;
}

.picture-bio{
    display: flex;
    height: 300.1px;
    width: 1321.79px;
    margin-top: 63px;
    margin: 59px;
    margin-right: 59px;
    margin-bottom: 47.9px;
}

.profile-picture{
    height: 300.1px;
    width: 300.1px;
    object-fit: contain;
    border-radius: 29.04px;
    margin-right: 27px;
}

header{
    width: 994.69px;
    background-color: #fff;
    border-radius: 29.04px;
    padding-top: 59px;
    padding-bottom:59px;
    padding-right: 69px;
    padding-left: 69px;

}

h1{
    font-size: 36px;
    font-weight: bold;
}

p{
    color: #5C5C5C;
    font-size: 22px;
    font-weight: normal;
}

section{
    background-color: #fff;
    border-radius: 29.04px;
}

.proficiency-skills{
    display: flex;
}
}